<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    
		{% if sidebar.person-data.birthdate %}
			<li class="datetime"><i class="fas fa-birthday-cake"></i>
			  Geburtdaten: {{ sidebar.person-data.birthdate }}
			</li>
		{% endif %}
		{% if sidebar.person-data.birthname %}
			<li class="address"><i class="fas fa-user"></i>
			  {{ sidebar.person-data.birthname }}
			</li>
		{% endif %}
		{% if sidebar.person-data.address %}
			<li class="address"><i class="fas fa-address-card-o"></i>
			  {{ sidebar.person-data.address }}
			</li>
		{% endif %}

 
  </ul>
</div><!--//contact-container-->
